<!doctype html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
          content="A layout example with a side menu that hides on mobile, just like the Pure website.">
    <title>Indian Government Jobs | Apply Here</title>
    <link rel="icon" href=
            "{% static 'img/logo-icon.png' %}"
          type="image/x-icon">
    <link rel="stylesheet" href="https://purecss.io/css/pure/pure-min.css" type="text/css">
    <link rel="stylesheet" href="https://purecss.io/css/pure/grids-responsive-min.css" type="text/css">
    <link rel="stylesheet" href="https://purecss.io/layouts/pricing/styles.css" type="text/css">
    <link rel="stylesheet" href="{% static 'styles/main.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'styles/card.css' %}" type="text/css">
</head>
<body>
<script src="https://purecss.io/js/ui.js"></script>
{% include "header.html" %}
<div class="l-content container">
    <div class="pure-g list">
        <div class="pure-u-1 pure-u-md-1-1">
            <div class="pricing-table-free">
                {%for job in jobs%}

                <div class="small-box {% cycle 'white' 'grey' %}">
                    <div class="group company-logo">
                        <div class="icon-box">
                            <img src={{job.logo_url}}
                                 alt={{job.title}}>
                        </div>
                        <div class="title extra-large-text">
                            {{job.company}}
                        </div>
                    </div>
                    <div class="group">
                        <div class="title-box">
                            <div class="group-title-box smaller-text">
                                Description
                            </div>
                            <div class="title extra-large-text">
                                {{job.title}}
                            </div>
                        </div>

                    </div>
                    <div class="group">
                        <div class="title-box">
                            <div class="group-title-box smaller-text">
                                Eligibility
                            </div>
                            <div class="title extra-large-text">
                                {% if "http" in job.qualification %}
                                <a href={{job.eligibility}}>Click Here</a>
                                {% else %}
                                {{job.qualification}}
                                {% endif %}
                            </div>
                        </div>

                    </div>

                    <div class="actions">
                        <div class="start date">
                            <div class="title smaller-text">
                                Application Start Date
                            </div>
                            <div class="date-value large-text">
                                {{job.start_date_to_apply}}
                            </div>
                        </div>
                        <div class="end date">
                            <div class="title smaller-text">
                                Application End Date
                            </div>
                            <div class="date-value large-text">
                                {{job.end_date_to_apply}}
                            </div>
                        </div>
                        <div class="action large-text">
                            <div class="link">
                                <a href="/jobs/{{job.unique_url_id}}">Click Here for Details</a>
                            </div>
                        </div>
                    </div>
                </div>
                {%endfor%}
            </div>
        </div>
    </div>
</div>
</body>
</html>