.container {
    width:800px;
    color: black;
}

.big-box {
    height:300px;
    background-color:#e0e4e6 !important;
    margin-left:10px;
    margin-bottom:10px;

}

.box {
    height:220px;
    background-color:#d8d8d8 !important;
    margin-left:10px;
    margin-bottom:10px;
}

.section-title {
    font-size:1em;
    font-weight: bold;
    height:20px;
    text-align:left;
    color:black;
    padding-left:1em;
    padding-top:1em;
    margin-bottom:1em;
}


.section-info p {
    margin:3px
}
.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.styled-table thead tr {
    background-color: #293734;
    color: #ffffff;
    text-align: left;
}
.styled-table th,
.styled-table td {
    padding: 12px 15px;
}
.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}
.styled-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}


body {
    background-color:white;
}



