
.container {
    width:80%;
    color: black;
}

.section-title {
    font-size:1em;
    font-weight: bold;
    height:20px;
    text-align:left;
    color:black;
    padding-left:1em;
    padding-top:1em;
    margin-bottom:1em;
}


body {
    background-color:white;
}

@media only screen and (max-width: 600px) {

  .container {
    width:80%;
}
.extra-large-text {
    font-size: 20px !important;
}

}



